<!DOCTYPE html>
<html lang="en" xmlns:th="https://tva1.sinaimg.cn/large/007S8ZIlgy1gfeqkwwi6cj30mw0mw3yc.jpg">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
</head>
<body>
<!--Navigation Bar-->
<nav class="ui inverted attached segment m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">Input</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>CATEGORIES</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>TAGS</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/me.jpg">
                        Naisheng Zhang
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="teal active item">Post</a>
            <a href="#" class="item">List</a>
        </div>
    </div>
</div>

<!--content-->
<div class="m-padded-tb-large">
    <div class="ui container">
        <form action="#" method="post" class="ui form">
            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden" value="Original">
                        <i class="dropdown icon"></i>
                        <div class="default text">Original</div>
                        <div class="menu">
                            <div class="item" data-value="Original">Original</div>
                            <div class="item" data-value="Reproduction">Reproduction</div>
                            <div class="item" data-value="Translation">Translation</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="Title">
                </div>
            </div>

            <div class="field">
                <div id="md-content" style="z-index: 1 !important;">
            <textarea placeholder="博客内容" name="content" style="display: none">
              [TOC]
    #### Disabled options
    - TeX (Based on KaTeX);
    - Emoji;
    - Task lists;
    - HTML tags decode;
    - Flowchart and Sequence Diagram;
    </textarea>
    </div>
    </div>

    <div class="two fields">
        <div class="field">
        <div class="ui left labeled action input">
        <label class="ui compact teal basic label">Categories</label>
        <div class="ui fluid selection dropdown">
        <input type="hidden" name="category">
        <i class="dropdown icon"></i>
        <div class="default text">Categories</div>
        <div class="menu">
        <div class="item" data-value="1">Error Log</div>
    <div class="item" data-value="1">Manual</div>
        </div>
        </div>
        </div>
        </div>
        <div class="field">
        <div class="ui left labeled action input">
        <label class="ui compact teal basic label">Tags</label>
        <div class="ui fluid selection multiple search dropdown">
        <input type="hidden" name="tag">
        <i class="dropdown icon"></i>
        <div class="default text">Tags</div>
        <div class="menu">
        <div class="item" data-value="1">Java</div>
        <div class="item" data-value="2">Python</div>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="field">
        <div class="ui left labeled input">
        <label class="ui teal basic label">Image Link</label>
    <input type="text" name="indexPicture" placeholder="Image Link">
        </div>
        </div>

        <div class="inline fields">
        <div class="field">
        <div class="ui checkbox">
        <input type="checkbox" id="recommend" name="recommend" class="hidden">
        <label for="recommend">Recommendation</label>
        </div>
        <div class="ui checkbox">
        <input type="checkbox" id="shareInfo" name="shareInfo" class="hidden">
        <label for="shareInfo">ShareInfo</label>
        </div>
        <div class="ui checkbox">
        <input type="checkbox" id="appreciation" name="appreciation" class="hidden">
        <label for="appreciation">Appreciation</label>
        </div>
        <div class="ui checkbox">
        <input type="checkbox" id="comment" name="comment" class="hidden">
        <label for="comment">Comment</label>
        </div>
        </div>
        </div>

        <div class="ui right aligned container">
        <button type="button" class="ui button" onclick="window.history.go(-1)">Return</button>
        <button class="ui secondary button">Save</button>
        <button class="ui secondary button">Post</button>
        </div>

        <div class="ui error message"></div>
        </form>
        </div>
        </div>

        <!--bottom footer-->
        <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
        <div class="three wide column">
        <div class="ui inverted link list">
        <img src="https://tva1.sinaimg.cn/large/007S8ZIlgy1gfenb5ay55j30cs0cswep.jpg"
    class="ui rounded image" style="width: 110px">
        </div>
        </div>

        <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">NEW ARTICLES</h4>
    <div class="ui inverted link list">
        <a href="#" class="item">User Story</a>
    <a href="#" class="item">User Story</a>
    <a href="#" class="item">User Story</a>
    </div>
    </div>

    <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">CONTACT ME</h4>
    <div class="ui inverted link list">
        <a href="#" class="item">Email: jonathan.n.zhang@gmail.com</a>
    <a href="#" class="item">Phone: 347-204-5507</a>
    </div>
    </div>

    <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">NAISHENG</h4>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Share some thoughts about code, life and work.</p>
    </div>
    </div>
    <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 Designed by Naisheng Zhang</p>
    </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js"></script>

<script>
    //initialize Markdown Editor
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "../static/lib/editormd/lib/"
        });
    });

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: 'Title：Title is required'
                }]
            }
        }
    });

</script>
</body>
</html>